body {
    background-color: #e6e6e6;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: black
}

header h1 {
    font-size: 40px;
    text-align: center;
    color: white;
}

main { 
   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 100vh;
    width: 100vw;
    width: 940px;
    text-align: center;
}

#form label {
    display: block;
    padding-top: 20px;
    font-size: 30px;
}

#form input {
    margin: 15px 10px 0 0;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

#form button {
    background: black;
    border: none;
    color: white;
    padding: 9px;
    outline: none;
    border-radius: 5px;
}

#titulo {
    margin-top: 20px;
    font-size: 32px;
}

#data {
    font-size: 20px;
    padding: 15px 0;
}

.imagem {
    width: 600px;
    height: 400px;
    border-radius: 30px;
    display: inline-block;
}

.video {
    width: 600px;
    width: 600px;
    border-radius: 30px;
    display: inline-block;
}

#descricao {
    padding: 30px 0; 
    font-size: 20px; 
}

#copyrightAPI {
    margin-bottom: 120px;
    font-size: 20px; 
    font-weight: bold;
}

.tiraDisplay {
    display: none;
    width: 0;
    height: 0;
}

footer {
    position: fixed;
    width: 100%;
    padding: 20px;
    bottom: 0;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

footer p{
    margin-right: 10px;
    margin-bottom: 3px;
}

#erro {
    margin: 30px 0;
    color: red;
    font-size: 30px;
}

.link {
    font-size: 23px; 
    text-decoration: none;
}

.link:visited {
    color: black;
}

.link:hover {
    color: white;
    background: black;
    padding: 5px;
    border-radius: 5px;
}

@media(max-width: 768px) {
    header h1 {
        font-size: 25px;
    }

    .container{
        height: 100vh;
    }

    #titulo {
        font-size: 26px;
    }

    .imagem, .video {
        width: 300px;
        height: 200px;
    }

    #descricao {
        margin: 0 10px;
    }

    #erro {
        font-size: 26px;
    }
}